@media (max-width:767px){.mobileSocial .feedBox .tw_feed, .mobileSocial .feedBox .fb_feed{height:calc(100% - 44px);}
.t_Navigation ul li.w_hide{display:inline-block;}
.banner_box_book{height:auto;padding-bottom:25px;}
.mobileHide{display:none !important;}
.webHide{display:block;}
.banner_Book_bottom{font-size:14px;}
.container{padding-top:46px;}
.pagebook{background-image:none;}
.pagesignup{background-image:none;}
.home_pp{background-image:none;}
.pagethanks{background-image:none;}
.pageevents{background-image:none;}
.pagenews{background-image:none;}
.pagepartner_stories{background-image:none;}
.pageabout, .page404{background-image:none;}
.pageshare{background-image:none;}
.pagelegal{background-image:none;}
.pageDonate{background-image:none;}
.m_mobile_bg{display:block;}
.m_mobile_bg.pagebook_m{background-image:url(../images/books_mobile.png);}
.m_mobile_bg.pagesignup_m{background-image:url(../images/signup_mobile.png);}
.m_mobile_bg.home_pp_m{background-image:none;}
.m_mobile_bg.pagethanks_m{background-image:url(../images/signup_mobile.png);}
.m_mobile_bg.pageevents_m{background-image:url(../images/events_mobile.png);}
.m_mobile_bg.pagenews_m{background-image:url(../images/news_mobile.png);}
.m_mobile_bg.pagepartner_stories_m{background-image:url(../images/partner-story-m.png);}
.m_mobile_bg.page404_m{background-image:url(../images/about_us_mobile.png);}
.m_mobile_bg.pageshare_m{background-image:url(../images/friendship-pictures-m.png);}
.m_mobile_bg.pagelegal_m{background-image:url(../images/legal_mobile.png);}
.m_mobile_bg.pageabout_m{background-image:url(../images/about_us_mobile.png);}
.m_mobile_bg.pageDonate_m{background-image:url(../images/donate_mobile.png);}
.footSec{display:none;}
.gen_p{font-family:"Gill Sans Light";font-size:16px;width:100%;line-height:20px;}
.genSection_Box{padding:10px;margin-bottom:30px;}
.gen_Heading{font-size:20px;}
.gen_Notification{text-align:center;font-family:"Gill Sans Light";font-size:18px;letter-spacing:0;color:rgba(43,43,43,0.70);padding-top:5px;line-height:26px;padding:0px 10px;}
h1.quoteHeadingBottom{font-size:22px;line-height:24px;margin-bottom:30px;}
.b_auth{font-size:20px;}
.f_text, .t_text{font-size:11px;font-family:"Gill Sans Light";color:rgba(255,255,255,0.87);}
.f_text{padding-left:0;}
.t_text{padding-right:0;}
.pageName{display:inline-block;position:absolute;font-size:18px;color:#fff;font-family:"Gill Sans";top:7px;left:50%;transform:translateX(-50%);z-index:0;text-transform:capitalize;}
.topNavigation, .ifHome.topfixed{padding:8px 5% 5px;}
.t_Navigation{display:none;}
.topLogo{display:none;}
.topLogoMobile{display:inline-block;width:50px;padding-bottom:5px;}
.topLogoMobile img{max-width:100%;height:auto;}
.hammenu{display:inline-block;float:right;font-size:20px;color:#fff;cursor:pointer;width:40px;text-align:center;position:absolute;right:12px;height:35px;top:4px;line-height:40px;}
.open_mobile_menu{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.t_Navigation{display:inline-block !important;float:right;position:absolute;width:80%;max-width:none;height:100vh;min-width:100px;right:-100%;background:#fff;padding:10px 10px 25px;top:0;overflow:auto;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.cl_menu_mobile{width:40px;height:40px;border-radius:50%;border:1px solid rgba(0,0,0,0.12);display:inline-block;position:absolute;background:#fff;font-size:22px;text-align:center;line-height:46px;top:10px;left:100%;z-index:12;cursor:pointer;}
.cl_menu_mobile_show{left:50%;transform:translateX(-50%);}
.open_mobile_menu ~ .t_Navigation{display:inline-block !important;float:right;position:fixed;width:100%;max-width:none;height:100vh;min-width:100px;right:0;background:#fff;padding:60px 10px 60px;top:0;overflow:auto;overflow-x:visible;box-shadow:-4px 3px 10px rgba(0, 0, 0, 0.28);}
.open_mobile_menu ~ .t_Navigation ul{margin:0;padding:0;position:relative;display:inline-block;width:calc(100%);vertical-align:bottom;text-align:left;}
.open_mobile_menu ~ .t_Navigation ul li{padding:5px 25px 5px 10px;margin-right:0;font-size:16px;text-shadow:none;color:rgba(0,0,0,0.87);letter-spacing:0.5px;width:100%;}
.open_mobile_menu ~ .t_Navigation ul li a{color:rgba(0,0,0,0.87);}
.open_mobile_menu ~ .t_Navigation ul li a ul li{color:rgba(0,0,0,0.54);}
.open_mobile_menu ~ .t_Navigation ul li span.icon-arrow-d{color:rgba(0,0,0,0.54);}
.open_mobile_menu ~ .t_Navigation ul li ul{margin:0;padding:0;position:relative;top:0px;width:100%;background:#fff;z-index:10;box-shadow:none;display:none;}
.open_mobile_menu ~ .t_Navigation ul li.cateSelected ul{display:block;}
.open_mobile_menu ~ .t_Navigation ul li ul li{display:inline-block;width:100%;text-shadow:none;padding:0;border-bottom:1px solid rgba(0,0,0,0.12);}
.open_mobile_menu ~ .t_Navigation ul li ul li:last-child{border-bottom:none;}
.open_mobile_menu ~ .t_Navigation ul li ul li a{display:inline-block;width:100%;position:relative;padding:8px 0px 8px 15px;color:rgba(0,0,0,0.54);font-size:16px;font-family:"Gill Sans Light";-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
a.cta-top{width:80%;margin-top:0;position:absolute;right:-100%;height:50px;bottom:0;font-size:22px;line-height:50px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.open_mobile_menu ~ .t_Navigation a.cta-top{width:100%;margin-top:0;position:fixed;right:0;height:50px;bottom:0;font-size:22px;line-height:50px;z-index:11;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.mobile_footer{display:inline-block;position:relative;width:100%;}
h1.banner_h1{margin:0;padding:0 0 10%;position:relative;display:inline-block;width:100%;text-align:center;font-size:20px;font-family:"Gill Sans Light";color:#fff;line-height:26px;}
.banner_box, .banner_box2{height:65vh;justify-content:center;align-items:center;flex-direction:column;padding:35px 0;}
.banner_box_img img{max-width:50%;}
.ind_mobile{height:45vh;display:flex;justify-content:center;align-items:center;flex-direction:column;}
.hideContent{margin-top:300%;}
.if_layout{width:100%;height:calc(100%);margin-top:0px;}
.playVideo{width:45px;left:50%;transform:translateX(-50%);}
.playVideo img{width:100%;height:auto;}
.youTubeTop{left:calc(100% - 55px);width:55px;height:55px;padding:0;text-align:center;}
.crossIcon{position:relative;float:none;font-size:24px;color:#fff;cursor:pointer;line-height:55px;}
.banner_button, .banner_button2{height:45px;padding:12px 10px 5px 10px;font-size:16px;}
.h_1{background-image:url(../images/home-bg-1-m2.jpg);background-attachment:scroll;}
.h_2{background-image:url(../images/friendship-pictures-m.png);background-attachment:scroll;}
.h_3{background-image:url(../images/partner-story-m.png);background-attachment:scroll;}
.h_4{background-image:url(../images/magnetic-thread-m.png);background-attachment:scroll;}
.h_5{background-image:url(../images/get-involved-h.png);background-attachment:scroll;}
.sect_5_bg{height:calc(100%);}
.formBox{width:100%;max-width:none;padding:10px 0px;}
form.userForm:before{width:100%;}
form.userForm{padding:15px 0 20px;margin-top:20px;}
.genButton_1{width:100%;max-width:none;height:45px;padding:12px 10px 5px 55px;font-size:16px;font-family:"Gill Sans Light";}
.logIcon{width:28px;height:28px;top:9px;left:10px;line-height:36px;font-size:16px;}
.spacer{padding:8px 0;}
.userForm_input{width:100%;max-width:none;height:45px;padding:5px 10px 5px 10px;font-size:18px;font-family:"Gill Sans Light";margin:2% 0px;}
.userForm_submit{max-width:none;height:45px;line-height:45px;font-size:16px;margin-top:25px;}
.formNotification{font-family:"Gill Sans Light";font-size:18px;letter-spacing:1px;color:rgba(43,43,43,0.54);padding-top:26px;}
h1.successHeading{font-size:24px;}
p.successText{font-size:16px;padding-top:22px;}
a.viewS{height:45px;line-height:45px;font-size:15px;margin-top:15px;letter-spacing:0;}
h1.aboutHeading{padding:10px 7% 0px;font-size:24px;}
p.about_Des{font-size:16px;padding:20px 5%;line-height:22px;text-align:justify !important;}
.quoteBox{position:relative;display:inline-block;width:calc(100% - 20px);margin:15px 10px;height:auto;background-image:url(../images/quoteBg.jpg);background-position:center;background-size:cover;display:flex;justify-content:center;align-items:center;flex-direction:column;padding:20px 0;}
h1.quoteHeading2, h1.quoteHeading3{padding:0 5% 10px;font-size:18px;line-height:22px;text-align:center;letter-spacing:0.5px;font-weight:700;text-shadow:0 6px 20px rgba(0, 0, 0, 0.5);}
h1.quoteHeading3{font-size:22px;letter-spacing:0.5px;padding-top:20px;font-weight:400;}
.partnerSlider .photoslider{height:110px;}
.partnerSlider .photoslider__item{width:110px !important;height:110px !important;margin-right:5px;}
.photoslider__prev, .photoslider__next{width:26px;height:26px;background-size:26px;cursor:pointer;}
.photoslider__next{right:0;}
.photoslider__prev{left:0px;}
a.p_CTA{width:auto;max-width:none;height:45px;line-height:45px;font-size:15px;margin-top:0;padding:0 27px;}
p.about_Des_small{font-size:16px;text-align:justify;line-height:22px;padding:20px 5%;}
.about_block{padding:15px 0 10px;margin-top:10px;}
.p_name, .p_name_firm, .p_name3, .fc_text{font-size:14px;text-align:left;padding:5px 0;line-height:16px;}
.patnerList .col-xs-6{padding-left:0;padding-right:10px;}
.fc_height{height:50px;}
.patnerList .col-xs-6:nth-child(2n){padding-right:0px;}
.p_name_firm{padding:0;}
.storyInfo{margin-top:0px;}
h1.quoteHeading{padding:0 0px 15px;font-size:20px;line-height:26px;text-align:center;letter-spacing:0.5px;}
h1.name_friends{padding:15px 0;font-size:24px;line-height:24px;}
h1.name_friends span.forAnd{font-size:24px;line-height:24px;}
h1.name_friends:before{width:90px;height:90px;}
h2.authInfo{padding:15px 0;font-size:16px;line-height:20px;}
.social_icon{position:relative;display:inline-block;width:36px;height:36px;border-radius:50%;color:#fff;line-height:43px;font-size:14px;margin:0 9px;text-align:center;}
.date_viewBox{margin-top:25px;padding:0;padding-bottom:5px;}
.date_g, .view_g{position:relative;display:inline-block;vertical-align:middle;font-size:14px;padding:0px 20px;color:rgba(0,0,0,0.54);font-family:"Gill Sans";line-height:18px;}
h2.authName{padding:10px 0;font-family:"Gill Sans Light";font-size:16px;line-height:22px;}
p.storyDetail{font-family:"Gill Sans Light";font-size:16px;line-height:22px;padding:12px 5px;margin-bottom:0;}
h1.subhead{padding:14px 0;font-family:"Gill Sans";font-size:24px;}
h1.subhead:before{width:100%;}
h1.subhead span{padding:0 10px;}
.cardContainer{padding:10px 0;}
h1.cardHeading{padding:30px 5% 0;height:34%;font-size:27px;line-height:28px;margin-bottom:10px;}
p.cardText{position:relative;display:inline-block;width:100%;text-align:justify;font-family:'Garamond';font-size:18px;color:#fff;line-height:22px;padding:20px;}
.next_button .icon-view-more, .prev_button .icon-view-more{font-size:20px;margin:0 5px;}
.screen-reader-text{display:none;}
.prev_button, .next_button{width:135px;}
.next_button, .prev_button{font-size:15px;height:30px;}
.prev_button .icon_hor{vertical-align:baseline;}
.next_button{padding-top:5px;}
.next_prev_box{margin-bottom:20px;margin-top:0;}
.wisdom_message_box .wisdom_message{position:absolute;top:0;left:0;transform:none;padding:15px 0;max-width:none;height:100%;overflow:auto;}
h1.wis_heading{padding:30px 5% 16px;font-size:20px;line-height:26px;margin-bottom:22px;height:auto;}
p.wis_message{font-size:16px;line-height:20px;}
.storyDetail{font-size:16px;line-height:20px;padding:20px 10px;}
.notShown_onMobile{display:none !important;}
.tabLink{width:132px;min-width:132px;height:35px;line-height:35px;font-size:12px;display:inline-block;}
h1.legalHeading{font-size:24px;padding:20px 7% 0px;}
.newsList h1.newsHeading{font-size:18px;padding-bottom:10px;padding-top:10px;}
.newsList h2.newsDate{font-size:14px;}
.newsContent{font-size:16px;line-height:22px;}
.newsList:last-child{margin-bottom:30px;}
.eventList{padding:25px 0px;}
.eventList:last-child{margin-bottom:30px;}
.eventContBox{padding:0;}
.eventCounter{font-size:14px;padding:0 15px;}
.eventList h1.eventHeading, .eventList h1.eventHeading.eventHeading_new{font-size:16px;line-height:22px;padding:0 15px;font-family:"Gill Sans Semibold";letter-spacing:0;}
p.eventContent{font-size:12px;line-height:16px;padding:0 15px;}
.fs_heading{font-size:14px;padding:0 15px;}
.fs_Names{font-size:16px;padding:0 15px;}
a.eventCTA, .tb_content_2 a.eventCTA{min-width:135px;max-width:135px;height:35px;line-height:38px;font-size:12px;margin-left:15px;}
.imageContainer{display:none;}
.imageContainer_mob, .imageContainer_mob_share{display:inline-block;height:100%;position:relative;padding:6% 0 6% 0;text-align:center;}
.imageContainer_mob:before, .imageContainer_mob_share:before{content:'';position:absolute;top:17%;left:0;transform:none;width:100%;height:120px;background:-moz-linear-gradient(left, rgba(177,116,203,0.81) 0%, rgba(45,14,94,0.81) 100%);background:-webkit-linear-gradient(left, rgba(177,116,203,0.81) 0%,rgba(45,14,94,0.81) 100%);background:linear-gradient(to right, rgba(177,116,203,0.81) 0%,rgba(45,14,94,0.81) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfb174cb', endColorstr='#cf2d0e5e',GradientType=1);}
.donatePage .imageContainer_mob_share{display:inline-block;height:100%;position:relative;padding:6% 0 2% 0;text-align:center;margin:25px 0;}
.donatePage .imageContainer_mob_share:before{content:'';position:absolute;top:0;left:0;transform:none;width:100%;height:125px;background:-moz-linear-gradient(left, rgba(177,116,203,0.81) 0%, rgba(45,14,94,0.81) 100%);background:-webkit-linear-gradient(left, rgba(177,116,203,0.81) 0%,rgba(45,14,94,0.81) 100%);background:linear-gradient(to right, rgba(177,116,203,0.81) 0%,rgba(45,14,94,0.81) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfb174cb', endColorstr='#cf2d0e5e',GradientType=1);}
.donateText_form{display:inline-block;text-align:center;width:100%;position:relative;top:0;transform:none;left:0;}
.imageContainer_mob .imageBox, .imageContainer_mob_share .imageBox{position:relative;display:inline-block;min-width:106px;max-width:190px;margin-left:0px;box-shadow:0 2px 4px rgba(0, 0, 0, 0.41);}
.shareContBox{padding:0;}
.greyBandStory{position:relative;display:inline-block;width:100%;left:0;bottom:0;padding:20px 15px 0;background:transparent;}
.guidlines{margin-top:7px;font-family:"Gill Sans Light";font-size:12px;color:rgba(0,0,0,0.54);padding:0 15px;text-align:center;}
.greyBandStory h1{font-size:14px;line-height:18px;}
.greyBandStory a.view-more{font-size:14px;color:#4d327b;padding:0;width:100%;text-align:center;}
.greyBandStory a.view-more{font-size:14px;color:#4d327b;padding:0;width:100%;text-align:center;line-height:30px;font-family:'Gill Sans Semibold';}
.greyBandStory a.view-more .icon-view-more{font-size:22px;vertical-align:-webkit-baseline-middle;margin-left:10px;}
.imageContainer_mob_share{text-align:center;}
.imageContainer_mob_share .imageBox{position:relative;display:inline-block;min-width:106px;max-width:190px;margin-left:0;box-shadow:0 2px 4px rgba(0, 0, 0, 0.41);}
.imageContainer_mob_share ~ a.eventCTA{display:block;margin:0 auto;position:relative;clear:both;width:85%;max-width:none;height:42px;line-height:42px;font-size:15px;font-family:'Gill Sans Semibold';}
.single_quote .single_quote_by{font-size:12px;padding-top:20px 10px;}
h1.noEvent_heading{font-size:24px;line-height:30px;letter-spacing:0;}
.backtop{position:relative;display:none !important;width:111px;height:26px;border-radius:100px;border:1px solid rgba(0,0,0,0.54);background-color:rgba(0,0,0,0.70);font-family:'Gill Sans Light';font-size:16px;color:rgba(255,255,255,0.87);line-height:26px;cursor:pointer;}
.norecord{position:relative;display:inline-block;background:#fff;width:100%;font-size:18px;text-align:center;padding:20px 0;}
.bg_for_mobile{background:transparent;box-shadow:none;}
.partnerpage{width:100%;}
.partnerpage .banner_box{padding-left:7%;padding-right:7%;}
.topFilter{display:none;}
.cardContainer.ps_stories{padding:10px 0px 60px;}
.ps_stories .cardBlock{padding-left:0;padding-right:0;}
.ps_notification {padding: 19px;color: #fff;margin-left: 0;background: rgba(0,0,0,.3);width: 100%}
.close_ps {top: 2px;right: 2px;color: #fff;}
.bottomFilter{display:inline-block;position:fixed;bottom:0;left:0;width:100%;height:50px;padding:0;background:#fff;z-index:11;box-shadow:0 -2px 4px rgba(0, 0, 0, 0.35);}
.bottomFilter .searchBox{width:64px;}
.searchBox .iconSearch, .searchBoxExpand .iconSearch{width:32px;height:32px;line-height:32px;text-align:center;color:#ce3965;}
.ps_stories .card{box-shadow:0 2px 4px rgba(0, 0, 0, 0.35);}
a.cardpara{line-height:17px;}
.restrict_height{height:18px;overflow:hidden;}
h1.name_friends2{padding:10px 0px;font-size:28px;line-height:32px;margin-bottom:25px;}
h1.m_Heading{padding:0px 0 10px;font-size:32px;line-height:40px;}
.m_para{font-size:16px;max-width:250px;padding:10px 0;line-height:20px;}
a.view_m{max-width:250px;font-size:18px;margin-bottom:5px;padding-bottom:8px;}
a.view_m .icon-view-more{width:20px;height:20px;font-size:20px;top:3px;left:94px;}
a:hover.view_m .icon-view-more{transform:rotate(0deg);left:94px;}
.m_text{font-size:18px;}
.m_shareBox .social_icon{font-size:18px;width:auto;height:auto;line-height:42px;}
.magCont_section{top:55%;}
#magneticPage .magCont_section{top:85%;transform:translateY(-85%);}
.banner_box_book{height:auto;padding-bottom:25px;}
h1.banner_Book{font-size:32px;}
.gen_p_book{font-size:20px;line-height:26px;}
h1.banner_Book_quote{font-size:18px;margin-bottom:0;}
.banner_Book_quote_by{font-size:18px;padding-top:20px;}
h1.bookHeading{padding:25px 0 30px;font-size:32px;}
.book_name{font-size:20px;padding-top:25px;}
p.book_Des{font-size:18px;padding:20px 6px;line-height:24px;text-align:justify !important;}
h1.coming_soon{padding:0 0 8%;font-size:30px;}
h1.t_head{padding:30px 0 20px;font-size:26px;}
p.t_des{font-size:16px;padding:20px 7% 20px;line-height:22px;}
.t_headingSection, .t_cardSection{height:315px;}
.t_card_position{margin-top:-20%;}
.t_stories a.cardLink{font-size:22px;}
.t_stories .viewStories{font-size:18px;top:3px;}
.t_stories a.cardpara{font-size:18px;line-height:22px;}
.t_stories .card .cardContent .cardBottom{height:108px;}
.bottom_quote{font-size:24px;margin:0 0 25px;line-height:25px;}
.t_auth{padding-top:20px;}
.mob_ss{padding-bottom:30px;}
.availableDrop ul li .av_Option{font-size:18px;height:40px;line-height:40px;}
.availableDrop{height:40px;}
.temp_button {line-height: 38px;font-size: 20px;}	
.availableDrop ul li .av_Option .downArrow{font-size:12px;top:7px;}
.availableDrop ul li ul.av_drop.av_drop_open{top:41px;}
.homePage h1.m_Heading{font-size:32px;padding-top:0px;}
.small_logo{width:45px;}
h2.m_subhead{font-size:20px;line-height:24px;padding-top:0;}
a.view_m_s .play_hm{width:30px;height:30px;text-align:center;}
a.view_m_s .play_hm img{max-width:100%;height:auto;}
.down_nav{width:30px;height:30px;bottom:45px;left:46%;}
@keyframes bounce{from{transform:translateY(-5px);}
to{transform:translateY(-35px);}
}
@-webkit-keyframes bounce{from{transform:translateY(-5px);}
to{transform:translateY(-35px);}
}
.m_Heading_top:before{top:-10px;left:-12px;width:40px;height:40px;}
a.view_m_s{font-size:14px;margin-top:5px;}
.scroll-target .h_partnership_story{padding:0;height:100% !important;}
.h_left{width:87%;height:auto;top:0px;transform:none;position:absolute;top:5px;}
.h_left .magCont_section{padding:25px 0px 25px 28px;top:65px;transform:none;left:-4px;position:relative;}
.h_left .magCont_section:before{width:20px;height:110%;z-index:0;}
.m_Heading_top{width:80px;height:3px;}
.h_left .m_Heading_top:before{top:-10px;left:-22px;width:40px;height:40px;z-index:0;}
h3.m_subhead_2{padding:0px 0 10px;font-size:24px;line-height:28px;}
.small_text{font-size:14px;padding:3px 0;}
a.eventCTA_h{height:35px;line-height:35px;font-size:12px;margin-top:4px;padding:0 30px;}
.h_right{position:absolute;float:right;width:87%;height:auto;margin-top:0;right:0;bottom:22%;}
.testimonial_block{display:block;width:100%;height:160px;position:relative;top:0;left:0;transform:none;padding:15px;min-width:265px;bottom:0;float:left;}
.tm_image{position:absolute;width:130px;right:8px;top:50%;transform:translateY(-50%);}
.tm_Text{position:absolute;width:calc(100% - 95px);height:110px;padding:8px;margin-top:0px;margin-left:0;left:-40px;top:50%;transform:translateY(-50%);}
.test_des{font-size:13px;line-height:16px;font-style:italic;}
h3.test_by_name{font-size:10px;color:rgba(77,50,123,0.70);margin-bottom:0;letter-spacing:0;margin-top:0;}
#infinite-slider2, .inf-wrapper{height:100% !important;}
.inf-toggles-wrapper{bottom:10% !important;width:100% !important;}
.dot_navigation{display:none;}
.inf-toggles{}
.h_pt_story{position:absolute;top:80px;width:100%;left:0;transform:none;background:transparent;height:auto;min-height:200px;}
.h_pt_story .h_right, .h_pt_story .h_left{bottom:0;min-height:0;top:0;}
.h_pt_story .h_right .magCont_section, .h_pt_story .h_left .magCont_section{top:0;transform:none;background:rgba(36,9,95,0.75) !important;padding:25px 10% 25px 0px;}
.h_pt_story .h_left .magCont_section{padding:25px 10px 25px 10%;}
.h_pt_story .h_left .magCont_section .m_subhead_3{padding:0px 0px 10px 0px;font-size:14px;line-height:18px;text-align:left;}
.h_right .magCont_section:before{content:'';background:rgba(36,9,95,0.50);position:absolute;right:0;top:50%;transform:translateY(-50%);width:20px;height:120%;z-index:0;}
.m_subhead_3{padding:0px 0px 10px 10px;font-size:14px;line-height:18px;text-align:right;}
.homePage .h_right .magCont_section .m_Heading_top{float:none;}
.homePage .h_right .magCont_section .m_Heading_top:before{z-index:0;left:54px;}
.h_pt_story .h_left .magCont_section:before{z-index:0;}
.h_pt_story .h_left .m_Heading_top:before{top:-10px;left:-14px;width:40px;height:40px;z-index:0;}
.h_bottom{width:100%;}
.bbl_block{width:100px;height:100px;margin:5px;}
.bbl_back_text{font-size:14px;line-height:18px;}
.scroll-target:nth-child(5) .h_left{top:20%;width:260px;}
.h_partnership_story .quoteHeadingBottom{position:absolute;top:60px;left:50%;transform:translateX(-50%);z-index:11;font-size:18px;text-shadow:0 2px 6px #000000;line-height:22px;padding-top:0;}
.sf_nav{position:absolute;left:0;bottom:0px;height:60px;width:100%;background:rgba(0,0,0,0.70);padding-top:3px;}
.sf_nav_1{position:fixed;}
.sf_nav .feedBox_top{text-align:center;position:relative;margin-left:0;margin-bottom:0;}
.sf_nav .feedBox_top .feedBox_top_social{position:relative;top:0;right:0;transform:none;}
.sf_nav .feedBox_top h3.m_subhead_2{padding:5px 0 0px;font-size:16px;line-height:22px;font-family:'Gill Sans' !important;}
.feedBox_top_social .social_icon{background:transparent;}
.nav_up{position:absolute;top:8px;right:25px;width:32px;height:32px;text-align:center;color:#fff;font-size:24px;line-height:44px;cursor:pointer;z-index:11;}
.nav_down{display:inline-block;}
.nav_down{position:absolute;top:6px;right:25px;width:32px;height:32px;text-align:center;color:#fff;font-size:24px;line-height:32px;z-index:11;cursor:pointer;}
.mobileSocial{position:fixed;float:right;width:100%;height:100vh;margin-top:0;right:0;bottom:0px;z-index:20;top:120%;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.mobileSocial_up{top:0;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.feedBox{box-shadow:0 12px 35px 8px rgba(0, 0, 0, 0.2);background:rgba(0,0,0,0.90) !important;text-align:left;width:100%;height:100%;transform:none;top:0;}
.h_right .magCont_section.feedBox{padding:20px 0 35px 0;position:relative;}
.h_right .feedBox:before{content:'';background:transparent;position:absolute;right:0;top:50%;transform:translateY(-50%);width:20px;height:120%;z-index:-1;}
.mobileSocial .m_Heading_top, .mobileSocial .m_subhead_2{display:none;}
.mobileSocial .feedBox_top_social{position:relative;text-align:center;border-bottom:1px solid rgba(255,255,255,0.12);padding-bottom:20px;width:calc(100% - 30px);display:block;right:0;top:0;transform:none;margin:auto;}
.mobileSocial .feedBox_top{text-align:center;position:relative;margin-left:0;margin-bottom:15px;display:inline-block;width:100%;}
.mobileSocial .social_icon{width:36px;height:36px;line-height:38px;font-size:14px;}
.mobileSocial .feedBox_top_social .social_icon.icon-facebook-1{background-color:#3b5998;}
.mobileSocial .feedBox_top_social .social_icon.icon-twitter-1{background-color:#55acee;}
.mobileSocial .feedBox_top_social .social_icon.icon-insta{background-color:#864c2d;}
.feedList_image{width:55px;height:55px;}
h1.feedList_heading{padding:0px 0 3px;font-size:18px;line-height:22px;}
p.feedList_des{font-size:14px;line-height:16px;}
h1.feedList_heading .icon-view-more{font-size:16px;color:#fff;position:absolute;right:0;top:2px;}
.footSec.move_up{display:none;}
}
@media (min-width:481px) and (max-width:767px){body{overflow:hidden;}
.if_mobile_lands{position:fixed;background:#fff;top:0;left:0;width:100vw;height:100vh;display:flex;justify-content:center;align-items:center;text-align:center;flex-direction:column;z-index:99999;}
.small_if{display:block;width:100%;position:relative;font-size:16px;color:rgba(0,0,0,0.87);text-align:center;}
}
@media (min-width:768px) and (max-width:991px){.mobileHide{display:none !important;}
.webHide{display:block;}
.sect_5_bg{height:calc(100% - 60px);}
.t_Navigation{display:none;}
.topLogoMobile, .hammenu{display:inline-block;}
.topLogoMobile, .hammenu{display:inline-block;}
.topLogo{display:none;}
.pageName{display:inline-block;position:absolute;font-size:18px;color:#fff;font-family:"Gill Sans";top:7px;left:50%;transform:translateX(-50%);z-index:0;text-transform:capitalize;}
.gen_p{font-size:22px;line-height:24px;}
.gen_Heading{font-size:32px;}
.gen_Notification{font-size:20px;letter-spacing:0;color:rgba(43,43,43,0.70);padding-top:15px;}
h1.quoteHeadingBottom{font-size:30px;line-height:36px;}
.topNavigation, .ifHome.topfixed{padding:8px 5% 5px;}
.t_Navigation{display:none;}
.topLogo{display:none;}
.topLogoMobile{display:inline-block;width:50px;padding-bottom:5px;}
.topLogoMobile img{max-width:100%;height:auto;}
.hammenu{display:inline-block;float:right;font-size:20px;color:#fff;cursor:pointer;width:40px;text-align:center;position:absolute;right:30px;height:35px;top:4px;line-height:40px;}
.open_mobile_menu{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.t_Navigation{display:inline-block !important;float:right;position:absolute;width:80%;max-width:none;height:100vh;min-width:100px;right:-100%;background:#fff;padding:10px 10px 25px;top:0;overflow:auto;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.cl_menu_mobile{width:40px;height:40px;border-radius:50%;border:1px solid rgba(0,0,0,0.12);display:inline-block;position:absolute;background:#fff;font-size:22px;text-align:center;line-height:46px;top:10px;left:100%;z-index:12;cursor:pointer;}
.cl_menu_mobile_show{left:50%;transform:translateX(-50%);}
.open_mobile_menu ~ .t_Navigation{display:inline-block !important;float:right;position:fixed;width:100%;max-width:none;height:100vh;min-width:100px;right:0;background:#fff;padding:60px 10px 60px;top:0;overflow:auto;overflow-x:visible;box-shadow:-4px 3px 10px rgba(0, 0, 0, 0.28);}
.open_mobile_menu ~ .t_Navigation ul{margin:0;padding:0;position:relative;display:inline-block;width:calc(100%);vertical-align:bottom;}
.open_mobile_menu ~ .t_Navigation ul li{padding:5px 25px 5px 10px;margin-right:0;font-size:16px;text-shadow:none;color:rgba(0,0,0,0.87);letter-spacing:0.5px;width:100%;}
.open_mobile_menu ~ .t_Navigation ul li a{color:rgba(0,0,0,0.87);}
.open_mobile_menu ~ .t_Navigation ul li a ul li{color:rgba(0,0,0,0.54);}
.open_mobile_menu ~ .t_Navigation ul li span.icon-arrow-d{color:rgba(0,0,0,0.54);}
.open_mobile_menu ~ .t_Navigation ul li ul{margin:0;padding:0;position:relative;top:0px;width:100%;background:#fff;z-index:10;box-shadow:none;display:none;}
.open_mobile_menu ~ .t_Navigation ul li.cateSelected ul{display:block;}
.open_mobile_menu ~ .t_Navigation ul li ul li{display:inline-block;width:100%;text-shadow:none;padding:0;border-bottom:1px solid rgba(0,0,0,0.12);}
.open_mobile_menu ~ .t_Navigation ul li ul li:last-child{border-bottom:none;}
.open_mobile_menu ~ .t_Navigation ul li ul li a{display:inline-block;width:100%;position:relative;padding:8px 0px 8px 15px;color:rgba(0,0,0,0.54);font-size:16px;font-family:"Gill Sans Light";-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
a.cta-top{width:80%;margin-top:0;position:absolute;right:-100%;height:50px;bottom:0;font-size:22px;line-height:50px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.open_mobile_menu ~ .t_Navigation a.cta-top{width:100%;margin-top:0;position:fixed;right:0;height:50px;bottom:0;font-size:22px;line-height:50px;z-index:11;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.mobile_footer{display:inline-block;position:relative;width:100%;}
h1.banner_h1{font-size:32px;line-height:34px;}
.formBox{padding:20px 0px;}
.genButton_1{height:55px;padding:14px 10px 5px 60px;font-size:20px;}
.logIcon{width:32px;height:32px;top:11px;left:14px;line-height:40px;font-size:18px;}
.userForm_input{width:43%;height:55px;padding:5px 10px 5px 15px;font-size:18px;font-family:"Gill Sans";}
.userForm_submit{max-width:320px;height:55px;line-height:55px;font-size:18px;font-family:"Gill Sans";margin-top:20px;}
.formNotification{font-size:20px;color:rgba(43,43,43,0.54);padding-top:15px;}
.f_text, .t_text{font-size:14px;padding:5px 0;}
a.bt_anchor{font-size:12px;line-height:16px;padding:0 8px;}
.successScreen{padding:0 0;}
h1.successHeading{font-size:36px;}
p.successText{font-size:24px;}
a.viewS{width:50%;height:55px;line-height:55px;font-size:16px;font-family:"Gill Sans";}
h1.aboutHeading{padding:0px 0 10px;font-size:32px;}
p.about_Des{font-size:20px;padding:10px 4%;line-height:26px;text-align:justify !important;}
.quoteBox{margin:25px 10px;height:430px;}
.partnerSlider .photoslider{height:200px;}
.partnerSlider .photoslider__item{width:200px !important;height:200px !important;}
a.p_CTA{height:55px;line-height:55px;font-size:18px;margin-top:0;font-family:'Gill Sans';}
.about_block{padding:25px 5px 10px;margin-top:10px;}
.p_name, .p_name_firm, .p_name3, .fc_text{font-size:18px;text-align:left;padding:8px 0;}
.p_name3{padding-bottom:0;}
.inStory{padding:40px 20px;}
h1.quoteHeading{padding:0 0 20px;font-size:24px;line-height:30px;letter-spacing:0.5px;}
.storyInfo{margin-top:0px;}
h1.name_friends{padding:25px 0;font-size:36px;line-height:40px;}
h1.name_friends span.forAnd{font-size:36px;line-height:40px;}
h2.authInfo{padding:10px 5% 20px;font-size:22px;line-height:30px;}
.social_icon{width:40px;height:40px;line-height:47px;font-size:18px;margin:0 8px;}
.date_g, .view_g{font-size:17px;padding:5px 20px;line-height:18px;}
.date_viewBox{margin-top:28px;padding:0 20px;}
h2.authName{padding:10px 5%;font-size:18px;line-height:22px;}
p.storyDetail{font-size:18px;line-height:24px;padding:20px 10px;}
.cardContainer{padding:10px 0;}
p.cardText{font-size:18px;color:#fff;line-height:20px;padding:10px 20px 0;margin-bottom:0;letter-spacing:0;}
h1.cardHeading{padding:34px 5% 0;height:40%;font-size:28px;line-height:28px;margin-bottom:10px;}
.card{margin:15px 8px;}
h1.legalHeading{padding:30px 0 10px;font-size:32px;}
.tabLink{width:215px;height:43px;line-height:43px;font-size:16px;}
.newsList h1.newsHeading{padding:0 0 10px;font-size:22px;}
.newsContent{font-size:18px;line-height:24px;}
.newsList h2.newsDate{font-size:14px;}
.eventCounter{font-size:18px;}
.eventList h1.eventHeading, .eventList h1.eventHeading.eventHeading_new{font-size:18px;line-height:24px;}
.single_quote{padding:15px;font-size:14px;font-weight:700;line-height:18px;}
.single_quote .single_quote_by{font-size:12px;padding-top:8px;}
p.eventContent{font-size:16px;line-height:21px;}
a.eventCTA{min-width:150px;max-width:200px;height:45px;line-height:45px;font-size:14px;}
.fs_Names{font-size:18px;}
.tb_content_2 a.eventCTA{min-width:150px;max-width:150px;height:45px;line-height:45px;font-size:14px;}
h1.noEvent_heading{font-size:28px;line-height:30px;letter-spacing:1px;}
.shareContBox{padding:7% 12% 2.5% 6%;}
.greyBandStory{bottom:20px;padding:16px 6% 10px;}
.greyBandStory h1{font-size:16px;max-width:295px;line-height:22px;}
.greyBandStory a.view-more{font-size:20px;margin-top:3px;}
.greyBandStory a.view-more .icon-view-more{font-size:20px;}
.for_sticky{padding:0;}
.topFilter{display:none;}
.bottomFilter{display:inline-block;position:fixed;bottom:0;left:0;width:100%;height:50px;padding:0;background:#fff;z-index:11;box-shadow:0 -2px 4px rgba(0, 0, 0, 0.35);}
.ps_stories .cardBlock{padding:0 9px;}
.ps_stories .cardBlock .date_g, .ps_stories .cardBlock .view_g{font-size:12px;padding:0px 10px;line-height:18px;}
.ps_stories .cardBlock a.cardLink{padding:0px 30px 5px 8px;font-size:16px;}
.ps_stories .cardBlock .viewStories{top:4px;right:8px;font-size:18px;}
.ps_stories .cardBlock .cardBottom{height:75px;padding:4px 0;}
a.cardpara{font-size:14px;padding:0 10px;line-height:18px;}
.storyBy{bottom:75px;padding:2px 10px 2px 9px;font-size:10px;}
.partnerpage .genSection_Box{padding:0px 0 15px;}
h1.name_friends2{padding:0px 0 15px;font-size:36px;line-height:40px;margin-bottom:25px;}
h1.m_Heading{padding:0px 0 10px;font-size:32px;line-height:40px;}
.m_para{font-size:16px;max-width:250px;padding:10px 0;line-height:20px;}
a.view_m{max-width:250px;font-size:18px;margin-bottom:5px;padding-bottom:8px;}
a.view_m .icon-view-more{width:20px;height:20px;font-size:20px;top:3px;left:94px;}
a:hover.view_m .icon-view-more{transform:rotate(0deg);left:94px;}
.m_text{font-size:18px;}
.m_shareBox .social_icon{font-size:18px;width:auto;height:auto;line-height:42px;}
.magCont_section{top:50%;}
.homePage h1.m_Heading{font-size:42px;padding-top:10px;}
.small_logo{}
h2.m_subhead{font-size:28px;line-height:32px;padding-top:0;}
a.view_m_s .play_hm{width:30px;height:30px;text-align:center;}
a.view_m_s .play_hm img{max-width:100%;height:auto;}
.down_nav{width:30px;height:30px;bottom:45px;left:46%;}
@keyframes bounce{from{transform:translateY(-5px);}
to{transform:translateY(-35px);}
}
@-webkit-keyframes bounce{from{transform:translateY(-5px);}
to{transform:translateY(-35px);}
}
.m_Heading_top:before{}
a.view_m_s{}
.scroll-target .h_partnership_story{padding:0;height:100% !important;}
.h_left{width:87%;height:auto;top:0px;transform:none;position:absolute;top:5px;}
.h_left .magCont_section{padding:30px 15px 30px 52px;top:95px;transform:none;left:0;position:absolute;}
.h_left .magCont_section:before{width:40px;height:110%;z-index:0;}
.m_Heading_top{width:80px;height:3px;}
.h_left .m_Heading_top:before{z-index:0;}
h3.m_subhead_2{padding:10px 0 10px;font-size:36px;line-height:42px;}
.small_text{font-size:20px;padding:10px 0;}
a.eventCTA_h{height:40px;line-height:35px;font-size:18px;margin-top:4px;padding:0 30px;}
.h_right{position:absolute;float:right;width:87%;height:auto;margin-top:0;right:0;bottom:22%;}
.testimonial_block{display:block;width:100%;height:215px;position:relative;top:0;left:0;transform:none;padding:30px;min-width:265px;bottom:0;float:left;}
.tm_image{position:absolute;width:165px;right:22px;top:50%;transform:translateY(-50%);}
.tm_Text{position:absolute;width:calc(100% - 140px);height:130px;padding:20px;margin-top:0px;margin-left:0;left:-40px;top:50%;transform:translateY(-50%);}
.test_des{font-size:16px;line-height:20px;font-style:italic;}
h3.test_by_name{font-size:14px;color:rgba(77,50,123,0.70);margin-bottom:0;letter-spacing:0;margin-top:15px;}
#infinite-slider2, .inf-wrapper{height:100% !important;}
.inf-toggles-wrapper{bottom:5% !important;width:100% !important;}
.dot_navigation{display:none;}
.inf-toggles{}
.h_pt_story{position:absolute;top:16%;width:100%;left:0;transform:none;background:transparent;height:auto;min-height:200px;}
.h_pt_story .h_right, .h_pt_story .h_left{bottom:0;min-height:0;top:0;}
.h_pt_story .h_right .magCont_section, .h_pt_story .h_left .magCont_section{top:0;transform:none;background:rgba(36,9,95,0.75) !important;padding:25px 8% 25px 0px;}
.h_pt_story .h_left .magCont_section{padding:25px 10px 25px 8%;}
.h_pt_story .h_left .magCont_section .m_subhead_3{padding:0px 0px 20px 0px;font-size:20px;line-height:26px;text-align:left;}
.h_right .magCont_section:before{content:'';background:rgba(36,9,95,0.50);position:absolute;right:0;top:50%;transform:translateY(-50%);width:40px;height:120%;z-index:0;}
.m_subhead_3{padding:0px 0px 20px 10px;font-size:20px;line-height:26px;text-align:right;width:100%;}
.homePage .h_right .magCont_section .m_Heading_top{float:none;}
.homePage .h_right .magCont_section .m_Heading_top:before{z-index:0;left:54px;}
.h_pt_story .h_left .magCont_section:before{z-index:0;}
.h_pt_story .h_left .m_Heading_top:before{z-index:0;}
.h_bottom{width:100%;}
.bbl_block{margin:10px;}
.bbl_back_text{font-size:14px;line-height:18px;}
.scroll-target:nth-child(5) .h_left{top:12%;width:60%;}
.h_partnership_story .quoteHeadingBottom{position:absolute;top:60px;left:50%;transform:translateX(-50%);z-index:11;font-size:18px;text-shadow:0 2px 6px #000000;line-height:22px;padding-top:0;}
.sliderFor_mobile{height:190px;bottom:20%;}
.sliderFor_mobile .pt_stroy_thumb{width:160px;height:160px;}
.sf_nav{position:absolute;left:0;bottom:0px;height:60px;width:100%;background:rgba(0,0,0,0.70);padding-top:3px;}
.sf_nav_1{position:fixed;}
.sf_nav .feedBox_top{text-align:center;position:relative;margin-left:0;margin-bottom:0;}
.sf_nav .feedBox_top .feedBox_top_social{position:relative;top:0;right:0;transform:none;}
.sf_nav .feedBox_top h3.m_subhead_2{padding:5px 0 0px;font-size:16px;line-height:22px;font-family:'Gill Sans' !important;}
.feedBox_top_social .social_icon{background:transparent;}
.nav_up{position:absolute;top:8px;right:25px;width:32px;height:32px;text-align:center;color:#fff;font-size:24px;line-height:44px;cursor:pointer;z-index:11;}
.nav_down{display:inline-block;}
.nav_down{position:absolute;top:6px;right:25px;width:32px;height:32px;text-align:center;color:#fff;font-size:24px;line-height:32px;z-index:11;cursor:pointer;}
.mobileSocial{position:fixed;float:right;width:100%;height:100%;margin-top:0;right:0;bottom:0px;z-index:20;top:120%;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.mobileSocial_up{top:0;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.feedBox{box-shadow:0 12px 35px 8px rgba(0, 0, 0, 0.2);background:rgba(0,0,0,0.90) !important;text-align:left;width:100%;height:100%;transform:none;top:0;}
.mobileSocial .feedBox .tw_feed, .mobileSocial .feedBox .fb_feed{height:calc(100% - 44px);}
.h_right .magCont_section.feedBox{padding:20px 0 35px 0;}
.h_right .feedBox:before{content:'';background:transparent;position:absolute;right:0;top:50%;transform:translateY(-50%);width:20px;height:120%;z-index:-1;}
.mobileSocial .m_Heading_top, .mobileSocial .m_subhead_2{display:none;}
.mobileSocial .feedBox_top_social{position:relative;text-align:center;border-bottom:1px solid rgba(255,255,255,0.12);padding-bottom:20px;width:calc(100% - 30px);display:block;right:0;top:0;transform:none;margin:auto;}
.mobileSocial .feedBox_top{text-align:center;position:relative;margin-left:0;margin-bottom:15px;display:inline-block;width:100%;}
.mobileSocial .social_icon{width:36px;height:36px;line-height:43px;font-size:14px;}
.mobileSocial .feedBox_top_social .social_icon.icon-facebook-1{background-color:#3b5998;}
.mobileSocial .feedBox_top_social .social_icon.icon-twitter-1{background-color:#55acee;}
.mobileSocial .feedBox_top_social .social_icon.icon-insta{background-color:#864c2d;}
.feedList_image{width:55px;height:55px;}
h1.feedList_heading{padding:0px 0 3px;font-size:18px;line-height:22px;}
p.feedList_des{font-size:14px;line-height:16px;}
h1.feedList_heading .icon-view-more{font-size:16px;color:#fff;position:absolute;right:0;top:2px;}
.footSec.move_up{display:none;}
}
@media (min-width:992px) and (max-width:1270px){.sect_5_bg{height:calc(100% - 78px);}
.temp_button {line-height: 48px;font-size: 20px;}	
.gen_Heading{font-size:36px;}
.gen_Notification{font-size:22px;letter-spacing:0;padding-top:10px;}
.topNavigation{padding:15px 5% 13px;}
.t_Navigation{min-width:680px;width:780px;padding-top:0px;}
.t_Navigation ul{vertical-align:middle;}
.t_Navigation ul li{padding:0px 25px 0px 10px;}
.t_Navigation ul li span.icon-arrow-d{top: -1px;}
.topLogo{width:90px;}
.t_Navigation ul li ul{top:44px;}
.topfixed .t_Navigation ul li ul{top:46px;}
h1.banner_h1{font-size:42px;}
.formBox{padding:20px 0px;}
.genButton_1{height:55px;padding:10px 10px 5px 70px;font-size:24px;}
.logIcon{width:36px;height:36px;top:9px;left:18px;line-height:45px;font-size:18px;}
.userForm_input{height:55px;padding:5px 20px 5px 20px;font-size:22px;margin:1.5% 20px;}
.userForm_submit{max-width:340px;height:55px;line-height:55px;font-size:20px;font-family:"Gill Sans";}
.formNotification{font-size:22px;letter-spacing:0;padding-top:15px;}
h1.quoteHeadingBottom{width:85%;font-size:32px;line-height:40px;}
.successScreen{padding:2% 0;}
h1.successHeading{font-size:40px;line-height:1.3em;}
p.successText{font-size:28px;}
a.viewS{height:60px;line-height:60px;font-size:18px;}
h1.aboutHeading{padding:0px 0 10px;font-size:36px;}
p.about_Des{font-size:22px;padding:20px 5%;line-height:26px;}
.quoteBox{height:430px;}
a.p_CTA{height:50px;line-height:50px;font-size:17px;margin-top:0;}
.p_name, .p_name_firm, .p_name3, .fc_text{font-size:20px;}
.inStory{padding:30px 30px;}
h1.quoteHeading{padding:0 0% 30px;font-size:30px;line-height:36px;letter-spacing:0.5px;}
.storyInfo{margin-top:0;}
h1.name_friends{font-size:36px;padding:25px 0 25px;}
h1.name_friends span.forAnd{font-size:36px;}
h2.authInfo{font-size:26px;line-height:26px;}
.social_icon{width:48px;height:48px;line-height:56px;font-size:22px;}
p.storyDetail{font-size:20px;line-height:26px;}
h1.cardHeading{padding:30px 5% 0;height:40%;font-size:32px;line-height:34px;}
p.cardText{font-size:20px;line-height:26px;padding:6px 20px;}
h1.legalHeading{padding:35px 0 0px;font-size:36px;}
.newsList h1.newsHeading{padding:0 0 10px;font-size:24px;}
.eventCounter{font-size:20px;margin-bottom:2%;}
.eventList h1.eventHeading, .eventList h1.eventHeading.eventHeading_new{padding:0 0 15px;font-size:30px;line-height:36px;}
.single_quote{width:146%;padding:15px;font-size:16px;line-height:21px;margin-left:-56%;}
.single_quote .single_quote_by{font-size:14px;padding-top:10px;}
p.eventContent{font-size:18px;line-height:24px;}
a.eventCTA{max-width:230px;font-size:18px;}
.tb_content_2 a.eventCTA{font-size:18px;}
.shareContBox{padding:6.5% 12% 2.5% 7%;}
.greyBandStory{bottom:17px;padding:20px 7% 7px;}
.greyBandStory a.view-more{font-size:28px;vertical-align:text-top;}
.stick_filter{top:62px;}
.searchBoxExpand{width:200px;}
.date_g, .view_g{padding:0px 10px;}
a.cardLink{padding:0px 32px 5px 15px;font-size:18px;}
.viewStories{right:13px;}
.cardBottom{height:82px;padding:3px 0;}
a.cardpara{font-size:14px;padding:0 15px;}
.storyBy{bottom:82px;padding:2px 10px 2px 16px;font-size:12px;}
h1.name_friends2{padding:0px 5% 15px;font-size:36px;line-height:40px;margin-bottom:25px;}
.banner_box_book{padding-top:4%;height:96vh;}
.gen_p_book{font-size:20px;}
.availableDrop{width:200px;height:50px;margin:6% auto;}
.availableDrop ul li .av_Option{font-size:20px;height:50px;line-height:50px;}
.availableDrop ul li ul.av_drop{width:200px}
.availableDrop ul li ul.av_drop.av_drop_open{top:51px;}
h1.banner_Book_quote{padding:0 0 0%;margin-bottom:4%;font-size:20px;}
.bookImage img{max-width:90%;}
h1.banner_Book{padding:0 0 4%;margin-bottom:6%;font-size:38px;}
.banner_Book_quote_by{font-size:18px;}
h1.bookHeading{font-size:36px;}
.bookImage_1 img{max-width:85%;}
.book_name{font-size:18px;padding-top:20px;}
p.book_Des{font-size:22px;}
h1.coming_soon{font-size:32px;}
h1.t_head{padding:45px 0 10px;font-size:42px;}
.t_headingSection, .t_cardSection{height:315px;background-position:center;}
.t_card_position{margin-top:-8%;}
.t_stories{padding:30px 0px 0;}
.t_stories a.cardLink{padding:0px 45px 5px 10px;font-size:22px;}
.t_stories .viewStories{font-size:18px;top:4px;}
.t_stories a.cardpara{font-size:18px;padding:0 10px;line-height:22px;}
.bottom_quote{font-size:26px;margin:0 0;}
.mob_ss{padding-bottom:40px;}
h1.m_Heading{padding:0px 0 10px;font-size:42px;line-height:50px;}
.m_para{font-size:20px;max-width:310px;padding:10px 0;line-height:26px;}
a.view_m{max-width:310px;font-size:20px;margin-bottom:5px;padding-bottom:8px;}
a.view_m .icon-view-more{width:20px;height:20px;font-size:20px;top:5px;left:100px;}
a:hover.view_m .icon-view-more{transform:rotate(0deg);left:100px;}
.m_text{font-size:18px;}
.m_shareBox .social_icon{font-size:18px;width:auto;height:auto;line-height:42px;}
.homePage h1.m_Heading{padding:8px 0 10px;font-size:42px;line-height:40px;}
h2.m_subhead{padding:2px 0 10px;font-size:28px;line-height:32px;}
a.view_m_s .play_hm{width:36px;height:36px;}
a.view_m_s .play_hm img{width:100%;height:auto;}
h3.m_subhead_2{padding:4px 0 5px;font-size:28px;line-height:30px;}
a.eventCTA_h{height:40px;line-height:40px;font-size:16px;margin-top:0px;padding:0 35px;}
.h_left .magCont_section{padding:15px 0px 15px 55px;}
.h_left .magCont_section:before{width:35px;}
.testimonial_block{width:300px;height:100%;padding:15px;}
.tm_image{width:95%;}
.tm_Text{width:118%;padding:15px;margin-top:-5px;margin-left:16%;}
.test_des{font-size:14px;margin-bottom:0;line-height:16px;}
h3.test_by_name{font-size:12px;margin-top:10px;}
.comeFrom_right{right:5px;}
.scroll-target .h_partnership_story{height:100vh !important;padding:0px 0% 0;}
#infinite-slider2, .inf-wrapper{height:100% !important;}
.inf-toggles-wrapper{bottom:10% !important;}
.h_right{height:100%;margin-top:0;}
.h_left .m_Heading_top:before{top:-9px;left:-30px;width:42px;height:42px;}
.homePage .h_right .magCont_section .m_Heading_top{float:none;}
.homePage .h_right .magCont_section .m_Heading_top:before{left:88px;width:42px;height:42px;top:-10px;}
.m_subhead_3{padding:7px 0 10px;font-size:18px;line-height:24px;padding-left:14%;}
.h_pt_story .h_right, .h_pt_story .h_left{min-height:239px;}
.pt_stroy_thumb{width:120px;height:120px;}
.pp_box{height:120px;line-height:34px;}
.h_pt_story .h_left .small_logo, .h_pt_story .h_right .small_logo{position:relative;display:inline-block;width:90px;height:90px;text-align:center;line-height:35px;vertical-align:bottom;}
.h_pt_story .h_left .small_logo img, .h_pt_story .h_right .small_logo img{max-width:70%;height:auto;}
.pl_icon{width:32px;height:32px;}
.h_auth_name{height:30px;line-height:30px;padding:0px 10px;font-size:12px;}
.h_left .m_subhead_3{padding:15px 0 10px;font-size:18px;line-height:24px;padding-right:10%;}
.h_bottom{width:65%;top:55%;}
.bbl_block{width:42%;height:auto;}
.bbl_back_text{font-size:18px;line-height:24px;padding:8%;}
.feedList_image{width:42px;height:42px;}
.feedList_detail{width:calc(100% - 45px);padding-left:15px;}
h1.feedList_heading{padding:0px 0 3px;font-size:15px;line-height:15px;}
h1.feedList_heading .icon-view-more{font-size:14px;position:absolute;top:2px;right:0;}
p.feedList_des{font-size:14px;line-height:14px;margin-bottom:0;height:30px;overflow:hidden;}
.feedList:nth-child(1), .feedList:nth-child(2), .feedList:nth-child(3), .feedList:nth-child(4){display:inline-block;}
.feedList{padding:5px 7px;display:none;}
.h_right .magCont_section.feedBox{padding:15px 2% 10px 2%;top:50%;}
.h_partnership_story .quoteHeadingBottom{top:85px;font-size:18px;line-height:18px;padding-top:0;}
#s_5 .h_right{margin-top:0;height:calc(100vh - 90px);}
#s_5 .h_left .magCont_section{padding:15px 0px 15px 40px;}
.feedBox_top h3.m_subhead_2{padding:0px 0 5px;font-size:22px;line-height:26px;}
.homePage .h_right .magCont_section .feedBox_top .m_Heading_top:before{left:88px;width:32px;height:32px;top:-10px;left:-9px;}
.f_text, .t_text{font-size:14px;padding:4px 0;}
a.bt_anchor{font-size:14px;line-height:18px;padding:0 10px;}
}
@media (min-width:1271px) and (max-width:1367px){.sect_5_bg{height:calc(100% - 78px);}
.temp_button {line-height: 48px;font-size: 20px;}
.banner_box_book{padding-top:4%;height:96vh;}
.gen_p_book{font-size:20px;}
.availableDrop{width:200px;height:50px;margin:6% auto;}
.availableDrop ul li .av_Option{font-size:20px;height:50px;line-height:50px;}
.availableDrop ul li ul.av_drop{width:200px}
.availableDrop ul li ul.av_drop.av_drop_open{top:51px;}
h1.banner_Book_quote{padding:0 0 0%;margin-bottom:4%;font-size:20px;}
.bookImage img{max-width:90%;}
h1.banner_Book{padding:0 0 4%;margin-bottom:6%;font-size:38px;}
.banner_Book_quote_by{font-size:18px;}
.topfixed .topLogo{width:90px;}
.topfixed .t_Navigation ul li ul{top:50px;}
.f_text, .t_text{font-size:14px;padding:4px 0;}
a.bt_anchor{font-size:14px;line-height:18px;padding:0 10px;}
h1.m_Heading{padding:0px 0 10px;font-size:48px;line-height:50px;}
.m_para{font-size:20px;max-width:310px;padding:10px 0;line-height:26px;}
a.view_m{max-width:310px;font-size:20px;margin-bottom:5px;padding-bottom:8px;}
a.view_m .icon-view-more{width:20px;height:20px;font-size:20px;top:5px;left:100px;}
a:hover.view_m .icon-view-more{transform:rotate(0deg);left:100px;}
.m_text{font-size:18px;}
.m_shareBox .social_icon{font-size:18px;width:auto;height:auto;line-height:42px;}
.homePage h1.m_Heading{padding:8px 0 10px;font-size:42px;line-height:40px;}
h2.m_subhead{padding:2px 0 10px;font-size:28px;line-height:32px;}
a.view_m_s .play_hm{width:36px;height:36px;}
a.view_m_s .play_hm img{width:100%;height:auto;}
h3.m_subhead_2{padding:4px 0 5px;font-size:36px;line-height:36px;}
a.eventCTA_h{height:40px;line-height:40px;font-size:16px;margin-top:0px;padding:0 35px;}
.h_left .magCont_section{padding:15px 0px 15px 55px;top:55%;}
.h_left .magCont_section:before{width:35px;}
.testimonial_block{width:340px;height:100%;padding:15px;}
.tm_image{width:95%;}
.tm_Text{width:118%;padding:15px;margin-top:-5px;margin-left:17%;}
.test_des{font-size:16px;margin-bottom:0;line-height:18px;}
h3.test_by_name{font-size:14px;margin-top:10px;}
.comeFrom_right{right:5px;}
.scroll-target .h_partnership_story{height:100vh !important;padding:0px 0% 0;}
#infinite-slider2, .inf-wrapper{height:100% !important;}
.inf-toggles-wrapper{bottom:10% !important;}
.h_right{height:100%;margin-top:0;}
.h_left .m_Heading_top:before{top:-9px;left:-30px;width:42px;height:42px;}
.homePage .h_right .magCont_section .m_Heading_top{float:none;}
.homePage .h_right .magCont_section .m_Heading_top:before{left:88px;width:42px;height:42px;top:-10px;}
.m_subhead_3{padding:7px 0 20px;font-size:24px;line-height:30px;padding-left:14%;}
.h_pt_story .h_right, .h_pt_story .h_left{min-height:270px;}
.pt_stroy_thumb{width:26%;height:auto;}
.pt_stroy_thumb_up{top:-70%;}
.pt_stroy_thumb_down{bottom:-70%;}
.pp_box{height:auto;line-height:34px;}
.h_pt_story .h_left .small_logo, .h_pt_story .h_right .small_logo{position:relative;display:inline-block;width:90px;height:90px;text-align:center;line-height:0px;vertical-align:text-bottom;}
.h_pt_story .h_left .small_logo img, .h_pt_story .h_right .small_logo img{max-width:70%;height:auto;}
.pl_icon{width:32px;height:32px;}
.h_auth_name{height:30px;line-height:30px;padding:0px 10px;font-size:12px;}
.h_left .m_subhead_3{padding:15px 0 20px;font-size:24px;line-height:30px;padding-right:10%;}
.h_bottom{width:65%;top:57%;}
.bbl_block{width:43%;height:auto;}
.bbl_back_text{font-size:22px;line-height:28px;padding:8%;}
.feedList_image{width:42px;height:42px;}
.feedList_detail{width:calc(100% - 45px);padding-left:15px;}
h1.feedList_heading{padding:0px 0 3px;font-size:15px;line-height:15px;}
h1.feedList_heading .icon-view-more{font-size:14px;position:absolute;top:2px;right:0;}
p.feedList_des{font-size:14px;line-height:14px;margin-bottom:0;height:30px;overflow:hidden;}
.feedList:nth-child(1), .feedList:nth-child(2), .feedList:nth-child(3), .feedList:nth-child(4){display:inline-block;}
.feedList{padding:5px 7px;}
.h_right .magCont_section.feedBox{padding:15px 2% 10px 2%;top:55%;}
.h_partnership_story .quoteHeadingBottom{top:85px;font-size:18px;line-height:18px;padding-top:0;}
#s_5 .h_right{margin-top:0;height:calc(100vh - 90px);}
#s_5 .h_left .magCont_section{padding:15px 0px 15px 40px;}
.feedBox_top h3.m_subhead_2{padding:0px 0 5px;font-size:28px;line-height:32px;}
.homePage .h_right .magCont_section .feedBox_top .m_Heading_top:before{left:88px;width:32px;height:32px;top:-10px;left:-9px;}
}
@media (min-width:1368px) and (max-width:1580px){.sect_5_bg{height:calc(100% - 78px);}
.banner_box_book{padding-top:4%;height:96vh;}
h1.banner_Book_quote{padding:0 0 5%;margin-bottom:0%;}
.bookImage img{max-width:75%;height:auto;}
h1.banner_Book{padding:0 0 5%;margin-bottom:5%;font-size:46px;}
.gen_p_book{font-size:22px;}
.f_text, .t_text{font-size:14px;padding:4px 0;}
a.bt_anchor{font-size:14px;line-height:18px;padding:0 10px;}
.inf-toggles-wrapper{bottom:20% !important;}
.h_bottom{width:72%;}
.bbl_block{width:43%;height:auto;}
#s_5 h3.m_subhead_2{position:relative;display:inline-block;width:100%;margin:0 auto;padding:3px 0 10px;position:relative;display:inline-block;width:100%;color:#fff;font-family:'Gill Sans Light';font-size:32px;line-height:36px;}
p.feedList_des{font-size:15px;line-height:16px;margin-bottom:0;}
h1.feedList_heading{padding:0px 0 3px;font-size:18px;line-height:20px;}
h1.feedList_heading .icon-view-more{font-size:16px;color:#fff;position:absolute;top:3px;right:0;}
.feedList_image{width:52px;height:52px;}
.h_right .magCont_section.feedBox{padding:35px 2% 15px 2%;}
}
@media (min-width:1581px) and (max-width:1720px){.banner_box_book{padding-top:6%;height:94vh;}
h1.banner_Book_quote{padding:0 0 6%;margin-bottom:4%;}
}
@media (min-width:1721px) and (max-width:1820px){}
@media (min-width:1821px) and (max-width:1920px){}
@media (min-width:1921px){}