
@font-face {
	font-family: 'Gill Sans';
	src: url('../fonts/GillSans.eot');
	src: url('../fonts/GillSans.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GillSans.woff2') format('woff2'),
		url('../fonts/GillSans.woff') format('woff'),
		url('../fonts/GillSans.ttf') format('truetype'),
		url('../fonts/GillSans.svg#GillSans') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gill Sans SemiBold';
	src: url('../fonts/GillSans-SemiBold.eot');
	src: url('../fonts/GillSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GillSans-SemiBold.woff2') format('woff2'),
		url('../fonts/GillSans-SemiBold.woff') format('woff'),
		url('../fonts/GillSans-SemiBold.ttf') format('truetype'),
		url('../fonts/GillSans-SemiBold.svg#GillSans-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Gill Sans SemiBoldItalic';
	src: url('../fonts/GillSans-SemiBoldItalic.eot');
	src: url('../fonts/GillSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GillSans-SemiBoldItalic.woff2') format('woff2'),
		url('../fonts/GillSans-SemiBoldItalic.woff') format('woff'),
		url('../fonts/GillSans-SemiBoldItalic.ttf') format('truetype'),
		url('../fonts/GillSans-SemiBoldItalic.svg#GillSans-SemiBoldItalic') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Gill Sans Light';
	src: url('../fonts/GillSans-Light.eot');
	src: url('../fonts/GillSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GillSans-Light.woff2') format('woff2'),
		url('../fonts/GillSans-Light.woff') format('woff'),
		url('../fonts/GillSans-Light.ttf') format('truetype'),
		url('../fonts/GillSans-Light.svg#GillSans-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gill Sans Bold';
	src: url('../fonts/GillSans-Bold.eot');
	src: url('../fonts/GillSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GillSans-Bold.woff2') format('woff2'),
		url('../fonts/GillSans-Bold.woff') format('woff'),
		url('../fonts/GillSans-Bold.ttf') format('truetype'),
		url('../fonts/GillSans-Bold.svg#GillSans-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gill Sans LightItalic';
	src: url('../fonts/GillSans-LightItalic.eot');
	src: url('../fonts/GillSans-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GillSans-LightItalic.woff2') format('woff2'),
		url('../fonts/GillSans-LightItalic.woff') format('woff'),
		url('../fonts/GillSans-LightItalic.ttf') format('truetype'),
		url('../fonts/GillSans-LightItalic.svg#GillSans-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Gill Sans BoldItalic';
	src: url('../fonts/GillSans-BoldItalic.eot');
	src: url('../fonts/GillSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GillSans-BoldItalic.woff2') format('woff2'),
		url('../fonts/GillSans-BoldItalic.woff') format('woff'),
		url('../fonts/GillSans-BoldItalic.ttf') format('truetype'),
		url('../fonts/GillSans-BoldItalic.svg#GillSans-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Gill Sans Italic';
	src: url('../fonts/GillSans-Italic.eot');
	src: url('../fonts/GillSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GillSans-Italic.woff2') format('woff2'),
		url('../fonts/GillSans-Italic.woff') format('woff'),
		url('../fonts/GillSans-Italic.ttf') format('truetype'),
		url('../fonts/GillSans-Italic.svg#GillSans-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gill Sans UltraBold';
	src: url('../fonts/GillSans-UltraBold.eot');
	src: url('../fonts/GillSans-UltraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GillSans-UltraBold.woff2') format('woff2'),
		url('../fonts/GillSans-UltraBold.woff') format('woff'),
		url('../fonts/GillSans-UltraBold.ttf') format('truetype'),
		url('../fonts/GillSans-UltraBold.svg#GillSans-UltraBold') format('svg');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Garamond';
	src: url('../fonts/Garamond.eot');
	src: url('../fonts/Garamond.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Garamond.woff2') format('woff2'),
		url('../fonts/Garamond.woff') format('woff'),
		url('../fonts/Garamond.ttf') format('truetype'),
		url('../fonts/Garamond.svg#Garamond') format('svg');
	font-weight: normal;
	font-style: normal;
}
